body {
  background: url(../img/bg.png) top center repeat;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #00c6ff;
}

.loading {
  position: absolute;
  top: 0;
  height: 3px;
  background-color: #349BF3;
}

.main {
  text-align: center;
  color: #bbb;
}

.main h1 {
  font-size: 40px;
}

.main h5 {
  letter-spacing: 2px;
  margin: 35px 0;
}

.progress1 {
  height: 3px;
  background-color: #000;
}

.loading.active {
  animation: animateLoad 5s;
  -webkit-animation: animateLoad 5s;
}

.progress1.active .progress-bar {
  animation: animateBar 5s forwards;
  -webkit-animation: animateBar 5s forwards;
}

.progress2.active .progress-bar {
  animation: animateBar 5s forwards;
  -webkit-animation: animateBar 5s forwards;
}

.progress3.active .progress-bar {
  animation: animateBar3 5s forwards;
  -webkit-animation: animateBar3 5s forwards;
}

@keyframes animateLoad
{
  from {width: 0;}
  to {width: 100%;}
}

@-webkit-keyframes animateLoad
{
  from {width: 0;}
  to {width: 100%;}
}

@keyframes animateBar
{
  from {width: 0;}
  to {width: 65%;}
}

@-webkit-keyframes animateBar
{
  from {width: 0;}
  to {width: 65%;}
}

@keyframes animateBar3
{
  from {width: 0;}
  to {width: 100%;}
}

@-webkit-keyframes animateBar3
{
  from {width: 0;}
  to {width: 100%;}
}