doctype
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Photography
        link(rel="stylesheet", href="../styles/shoot.css")
    body
        .sidebar
            h1 RayLiao
            .menu
                a(href="empty.html") Empty
                a(href="2016.html") 2016
                a(href="../photography.html", target="_blank") 2015
            .nav
                a(href="../index.html") Home
                a(href="../about.html") About
        .content
            block content
        script(src="../js/lib/jquery.min.js")
        script(src="../js/lib/slick.js")
        script(src="../js/shoot.js")

