doctype
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title Photography
        link(rel="stylesheet", href="../styles/shoot.css")
    body
        .sidebar
            h1.title copyright© 2011-2016 RAYLIAO
            .menu
                div
                    a(href="2016.html") 2016
                div
                    a(href="../photography.html") past
            .nav
                div
                    a(href="../index.html") home
                div
                    a(href="../about.html") about
        .content
            block content
        script(src="../scripts/lib/jquery.min.js")

