@font-face {
  font-family: 'knarfart';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/knarfart-webfont.woff2") format("woff2"), url("../fonts/knarfart-webfont.woff") format("woff");
  /* src: url("../knarfart/knarfart-webfont.eot?#iefix") format("embedded-opentype"),
  url("../knarfart/knarfart-webfont.woff2") format("woff2"), 
  url("../knarfart/knarfart-webfont.woff") format("woff"), url("../knarfart/knarfart-webfont.ttf") format("truetype"), 
  url("../knarfart/knarfart-webfont.svg#knarfart") format("svg"); */
}