.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background) url('./haha.gif') center no-repeat;
}

.content a {
  color: var(--text-color-normal);
  text-decoration: none;
}
