.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000 url('./haha.gif') center no-repeat;
}

.content a {
  color: #fff;
  text-decoration: none;
}
