extends partial/layout

block content
    div#slick
        div
            img(src="../images/2016/01.jpg")
        div
            img(src="../images/2016/02.jpg")
        div
            img(src="../images/2016/03.jpg")
        div
            img(src="../images/2016/04.jpg")
        div
            img(src="../images/2016/05.jpg")
        div
            img(src="../images/2016/06.jpg")
        div
            img(src="../images/2016/07.jpg")
        div
            img(src="../images/2016/08.jpg")
        div
            img(src="../images/2016/09.jpg")
