extends partial/layout

block content
    div
        img(src="../images/2017/0101.jpg")
    div
        img(src="../images/2017/0102.jpg")
    div
        img(src="../images/2017/0402.jpg")
    div
        img(src="../images/2017/0403.jpg")
    div
        img(src="../images/2017/1001.jpg")
    div.unite
        img(src="../images/2017/1002.jpg")
