extends partial/layout

block content
    div#slick
        div
            img(src="../images/albums/201210.jpeg")
        div
            img(src="../images/albums/201211.jpeg")
        div
            img(src="../images/albums/201212.jpeg")
        div
            img(src="../images/albums/201404.jpeg")
