extends partial/layout

mixin list(num)
    div
        img(src="../images/2016/01.jpg")

block content
    - var n = 0
    div.phone
        while n < 35
            - n++
            div
                img(src='../images/undefined/' + n + '.jpg')
