@import-normalize;

html,
body {
  height: 100%;
}

html {
  --hue: 71;
  --text-color-normal: hsl(var(--hue), 5%, 5%);
  --text-color-light: hsl(var(--hue), 5%, 85%);
  --text-color-richer: hsl(var(--hue), 75%, 35%);
  --text-color-highlight: hsl(var(--hue), 5%, 85%);
  --background: hsl(var(--hue), 5%, 95%);
  background-color: var(--background);
}

html[data-theme='dark'] {
  --hue: 71;
  --text-color-normal: hsl(var(--hue), 5%, 85%);
  --text-color-light: hsl(var(--hue), 5%, 45%);
  --text-color-richer: hsl(var(--hue), 75%, 65%);
  --text-color-highlight: hsl(var(--hue), 5%, 85%);
  --background: hsl(var(--hue), 5%, 15%);
}

html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
